.cat-container {
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: -100;
}

.cat {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  transition: transform 0.5s ease-in-out; /* 添加平滑的过渡效果 */
}

/* 简单的 CSS 动画 */
@keyframes shake {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
}

.cat:hover {
  animation: shake 0.8s infinite;
}

.cat.sleeping {
  opacity: 0.8;
  filter: grayscale(80%);
}


/* 对话气泡的样式 */
.speech-bubble {
  position: absolute;
  top: 0px;
  background-color: #ccc;
  color: #333;
  padding: 8px 12px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  animation: fadeIn 0.5s ease-out;
  z-index: 10; /* 确保气泡在最上层 */
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}